application.properties

# Arquivos de compilação
target/

# Arquivos de configuração específicos do ambiente
application.properties
application.yml
application-test.propertiessa

# Arquivos de log
logs/

# Arquivos temporários
*.tmp
*.log

# Arquivos de dependência
build/
.gradle/
.mvn/

# Arquivos de IDE
.idea/
.classpath
.project
.settings/
*.iml

